.navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 4rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  background-color: azure;
}

.navigation_nav {
  width: 100%;
}

.navigation_list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navigation_item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f037a5;
}

.navigation_svg {
  width: 2rem;
  height: 2rem;
}

.navigation_item_title {
  margin-top: 0;
  color: #323edd;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1px;
}
